<%= simple_form_for [ @group, message ] do |f| %>
  <div class="bw_form-button-top d-flex flex-column">
    <div class="d-flex justify-content-end align-items-center">
      <%= button_tag type: 'submit', class: "btn btn-primary" do %><i class="fas fa-paper-plane"></i><% end %>
    </div>
    <%= f.input :content, class: "form-control", placeholder: "Your message...", label: false %>
  </div>
<% end %>
