// Define variables for your color scheme

// For example:
$red: #ED0000;
$blue: #2696FB;
$orange: #D65A31;
$green: #00D73C;
$dark: #222831;
$gray: #393E46;
$yellow: #f3c623;
$beige: #EEEEEE;
$white: #FFFFFF;
