<%= simple_form_for ([@group, @group_membership]) do |f| %>
  <div class="d-flex flex-column form-inputs my-5 bw_form-inputs-no-border justify-content-center text-center">
    <%= f.error_notification %>
    <%= f.input :nickname, label:'User nickname :', placeholder: "Type in your friend's nickname",
                required: true,
                autofocus: true %>

    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  <% end %>
