<% @page_title = @group.title %>
<% @back_button = "dashboard" %>
<% @cog_button = "group" %>

<%= render 'shared/navbar' %>
<div class="container col-10 col-lg-4 d-flex flex-column justify-content-center my-5">
  <%= render 'form' %>
</div>