<nav class="sticky-top w-100 border-bottom">
  <div class="container d-flex justify-content-between align-items-center px-4 py-3">
    <%= render 'shared/backto_links' %>

    <h1><%= @page_title.length > 20 ? "#{@page_title[0..18]}..." : @page_title %></h1>
    
    <%= link_to edit_user_registration_path(current_user) do %>
    <div class="avatar">
      <%= show_svg(current_user.avatar_file) %>
    </div>
    <% end %>
  </div>
</nav>