<div class="d-flex bw_h-100-vh justify-content-center align-items-center">
  <%= link_to destroy_user_session_path, class: "bw_delete-icon", method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fas fa-power-off"></i>
  <% end %>
  <h1 class="text-center bw_big-logo ">Brewr</h1>
</div>
<%= link_to "Start Now", dashboard_path, class: "btn btn-primary w-100 fixed-bottom btn-lg rounded-0" %>
