<div class="d-flex bw_h-100-vh justify-content-center align-items-center">
  <h1 class="text-center bw_big-logo "> <%= @event.votes.count %> / <%= @event.event_memberships.count %> members have voted</h1>
</div>
