<% @page_title = @event.title %>
<% @back_button = "event" %>
<% @show_bolt_button = true %>

<%= render 'shared/navbar' %>
<div class="container col-10 col-lg-4 d-flex flex-column justify-content-center my-5">
  <%= render 'editform' %>
</div>