<% @page_title = "New event" %>
<% @navbar_option_button = "Undo@Event" %>
<% @show_bolt_button = true %>

<%= render 'shared/navbar' %>
<div class="container col-10 col-lg-4 d-flex flex-column justify-content-center my-5">
  <%= render 'form' %>
</div>