<% @page_title = "New event" %>
<% @back_button = "back" %>
<% @cog_button = "group" %>
<% @show_bolt_button = true %>

<%= render 'shared/navbar' %>
<div class="container col-10 col-lg-4 d-flex flex-column justify-content-center my-5">
  <h2 class="text-center">For: <%= @group.title %></h2>
  <%= render 'form' %>
</div>