<% @page_title = @event.title %>
<% @navbar_option_button = "Edit@Event" %>
<% @show_bolt_button = true %>
<%= render 'shared/navbar' %>

<div class="container d-flex flex-column justify-content-between">
  
</div>

<%= render 'shared/bottombar' %>