<% @page_title = @event.title %>
<% @back_button = "group" %>
<% @cog_button = "event" %>
<% @show_bolt_button = true %>
<%= render 'shared/navbar' %>

<div class="container d-flex flex-column justify-content-between">
  <span id="timer"></span>
</div>

<%= render 'shared/bottombar' %>
