<%= render "devise/shared/navbar"  %>
<% @page_title = "Dashboard" %>

<ul>
  <% @events.each do |event| %>
  <li><%= link_to event.title, event_path(event) %></li>
  <% end %>
</ul>



<ul>
  <% @groups.each do |group| %>
  <li><%= link_to group.title, group_path(group) %></li>
  <% end %>
</ul>


<div>
   <%= link_to "Add a new group", new_group_path %>
</div>
