<div class="d-flex bw_h-100-vh justify-content-center align-items-center">
  <h1 class="rotate_svg text-center bw_big-logo animate__animated animate__bounce">Brewr<%= show_svg("pub.svg") %></h1>

</div>
<%= link_to "Start Now", events_path, class: "btn btn-primary w-100 fixed-bottom btn-lg rounded-0" %>

