<div class="d-flex bw_h-100-vh justify-content-center align-items-center">
  <h1 class="text-center bw_big-logo ">Brewr</h1>
</div>
<%= link_to "Start Now", dashboard_path, class: "btn btn-primary w-100 fixed-bottom btn-lg rounded-0" %>

<div id="app"></div>

