.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.avatars-container .avatars {
  margin-bottom: 30px;

  &.active svg {
    -webkit-filter: drop-shadow(0px 4px 0px $orange);
    filter: drop-shadow(0px 4px 0px $orange);
  }
}