.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.avatars {
  margin-bottom: 30px;
  transition: all ease .2s;
  &.active {
    transform: scale(1.2);
  }
  & svg {
    transition: all ease .2s;
  }
  &.active svg {
    -webkit-filter: drop-shadow(0px 4px 0px $orange);
    filter: drop-shadow(0px 4px 0px $orange);
  }
}