.bw_h-100-vh {
  height: 100vh;
  position: relative;
}

.messages {
  height: 40vh;
  overflow-y: auto;
}

.bw_padding-bottom-1 {
  padding-bottom: 60px;
}

.bw_padding-bottom-2 {
  padding-bottom: 120px;
}

.bw_margin-bottom-1 {
  margin-bottom: 60px;
}