.bw_form-inputs-no-border .form-control {
  border: none;
  border-bottom: 2px solid #c4c4c4;
  box-shadow: none;
  font-size: 12px;
  text-align: center;

  &:focus {
    box-shadow: none;
    border-bottom: 2px solid $orange;
  }

  &::placeholder {
    color: lightgray;
  }
}

.bw_form-inputs-no-border .form-group {
  margin-bottom: 40px;
}

.chat {
  position: relative;

  & .btn {
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 80px;
    transition: all ease .2s;

    &:hover {
      transform: scale(1.2);
    }
  }
  & .form-control {
    height: 80px;
    border: 0px;
  }
}