.bw_form-inputs-no-border .form-control {
  border: none;
  border-bottom: 2px solid #c4c4c4;
  box-shadow: none;
  font-size: 12px;
  text-align: center;

  &:focus {
    box-shadow: none;
    border-bottom: 2px solid $orange;
  }

  &::placeholder {
    color: lightgray;
  }
}

.bw_form-inputs-no-border .form-group {
  margin-bottom: 40px;
}


.form-check-input {
  margin-left: 0rem;
}
