.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

nav {
  background: white;
  height: 65px;
}

footer {
  background: white;
  height: 60px;
}

.bw_auto-h-100 {
  height: calc(100vh - 65px - 60px);
}