h1.bw_big-logo {
  font-size: 72px;
  color: $orange;
}

nav h1 {
  font-size: 24px;
  margin-bottom: 0;
}

nav i {
  font-size: 24px;
}
nav a {
  line-height: 1;
}

.headers-font {
  font-family: $headers-font;
}

.body-font {
  font-family: $body-font;
}