h1.bw_big-logo {
  font-size: 72px;
  color: $orange;
}

nav h1 {
  font-size: 30px;
  margin-bottom: 0;
}

nav i {
  font-size: 24px;
}
nav a {
  line-height: 1;
}

.headers-font {
  font-family: $headers-font;
}

.body-font {
  font-family: $body-font;
}

h2 {
  font-size: 26px;
}

.bw_countdown {
  font-size: 54px;
  font-weight: 800;
  font-family: $headers-font;
  color: $primary;
  letter-spacing: 2px;
}
